@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500');

@keyframes fadeIn {
  0% {opacity: 0; transform:scale(0.1)}
  75% {transform:scale(1.1)}
  100% {opacity: 1; transform:scale(1)}
}

@keyframes random {
  0% {width: 0%}
  100% {width: 94%}
}

.AlertsJS__fadeOut {
  opacity: 0;
}

.AlertsJS__button {
  background: #428bca;
  border: #357ebd solid 0px;
  border-radius: 3px;
  color: #fff;
  display: inline-block;
  font-size: 14px;
  padding: 8px 15px;
  text-decoration: none;
  text-align: center;
  min-width: 60px;
  position: relative;
  transition: color .1s ease;
}
.AlertsJS__button:hover{
  background: #357ebd;
}

.AlertsJS__closeIcon {
  color: #aaaaaa;
  font-size: 20px;
  text-decoration: none;
  padding:10px;
  position: absolute;
  right: 7px;
  top: 0;
}
.AlertsJS__closeIcon:hover {
  color: #919191;
}

.AlertsJS__overlay {
  content: '\A';
  position: fixed;
  width: 100vw;
  height:100vh;
  top: 0;
  left: 0;
  background: rgba(0,0,0,0.5);
  z-index: -1;
  animation: fadeIn .7s 1;
  transition: all .7s linear;
}

.AlertsJS__alert {
  background-color: white;
  box-shadow: 3px 3px 3px rgba(0,0,0,0.16);
  max-height: 100vh;
  width: 30vw;
  position: absolute;
  border-radius: 20px;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  padding: 1rem;
  font-family: 'Montserrat';
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  
}

.AlertsJS__effects {
  background-color: black;
  position: absolute;
  top: 0%;
  left: 3%;
  margin: 0;
  border: 1px solid rgb(0, 0, 0);
  border-radius: 2px;
  width: 4px;
  height: 4px;
  animation: random 5.8s infinite;
}

.AlertsJS__alert {
  font-size: 1rem;
}

.AlertsJS__alert img {
  max-height: 10vh;
}

.AlertsJS__link {
  text-decoration: none;
  color: #428bca;
  padding-bottom: 10px;
}

.AlertsJS__customHTML {
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
}
.AlertsJS__input {
  width:200px;
  padding:8px;
  border:1px solid #ddd;
  color:#888;
  outline:0;
  font-size:14px;
  font-weight:bold;
  margin-bottom: 10px;
}
