@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500');

@keyframes fadeIn {
  0% {opacity: 0; transform:scale(0.1)}
  75% {transform:scale(1.1)}
  100% {opacity: 1; transform:scale(1)}
}

@keyframes fadeOut {
  0% {opacity: 1;}
  100% {opacity: 0;}
}

@keyframes approved {
  0% {transform:scale(1);opacity:1;}
  12.5% {height:2px;width:167px;}
  12.6% {top:41%;opacity:1;}
  25% {height:41px;opacity:0.1;}
  37.5% {top:30%;height:2px;}
  37.6% {width:167px;;opacity:1}
  50% {width:2px;transform:scaleX(1);}
  62.5% {height:2px;width:167px;}
  62.6% {opacity:1;}
  75% {top:30%;height:41px;opacity:0.1;}
  87.5% {top:41%;height:2px;}
  87.6% {width:167px;opacity:1}
  100% {transform:scale(1);width:2px;}
}

.AlertsJS__fadeOut {
  opacity: 0;
}

.AlertsJS__button {
  background: #428bca;
  border: #357ebd solid 0px;
  border-radius: 3px;
  color: #fff;
  display: inline-block;
  font-size: 14px;
  padding: 8px 15px;
  text-decoration: none;
  text-align: center;
  min-width: 60px;
  position: relative;
  transition: color .1s ease;
}
.AlertsJS__button:hover{
  background: #357ebd;
}

.AlertsJS__closeIcon {
  color: #aaaaaa;
  font-size: 20px;
  text-decoration: none;
  padding:10px;
  position: absolute;
  right: 7px;
  top: 0;
}
.AlertsJS__closeIcon:hover {
  color: #919191;
}

.AlertsJS__overlay {
  content: '\A';
  position: fixed;
  width: 100vw;
  height:100vh;
  top: 0;
  left: 0;
  background: rgba(0,0,0,0.5);
  z-index: -1;
  animation: fadeIn .7s 1;
  transition: all .7s linear;
}

.AlertsJS__alert {
  background-color: white;
  box-shadow: 3px 3px 3px rgba(0,0,0,0.16);
  max-height: 100vh;
  width: 30vw;
  position: absolute;
  border-radius: 20px;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  padding: 1rem;
  font-family: 'Montserrat';
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  transition: background-color 1000ms;
  transition-timing-function: cubic-bezier(0.5, 2, 0.5, 2);

}


.AlertsJS__effects {
  position: absolute;
  top: 41%;
  left: 33%;
  display:flex;
  flex-direction: column;
  justify-content: space-around;
  box-sizing: border-box;
  background-clip: padding-box;
  background: black;
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  border-radius: 100px;
  border-width: 0.01em;
  border: solid rgba(0, 0, 0, 0.1);
  animation: approved 8s 1;  
}


.AlertsJS__alert {
  font-size: 1rem;
}

.AlertsJS__alert img {
  max-height: 10vh;
}

.AlertsJS__link {
  text-decoration: none;
  color: #428bca;
  padding-bottom: 10px;
}

.AlertsJS__customHTML {
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
}
.AlertsJS__input {
  width:200px;
  padding:8px;
  border:1px solid #ddd;
  color:#888;
  outline:0;
  font-size:14px;
  font-weight:bold;
  margin-bottom: 10px;
}

@media only screen and (max-width: 650px) {
  .AlertsJS__alert {
    width: 50vw
  }
}
