@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500');

@keyframes fadeIn {
  0% {opacity: 0}
  100% {opacity: 1}
}

@keyframes fadeOut {
  0% {opacity: 1}
  100% {opacity: 0}
}

@keyframes bubbleUp {
  0% {bottom:272px;-webkit-transform:scale(.9);opacity:0}
  1% {-webkit-transform:scale(.3);opacity:0}
  30% {-webkit-transform:scale(.8);opacity:1}
  95% {-webkit-transform:scale(.3);opacity:1}
  99% {bottom:500px;-webkit-transform:scale(3);opacity:0}
  100% {bottom:272px;-webkit-transform:scale(.9);opacity:0}
}

.AlertsJS__fadeOut {
  opacity: 0;
}

.AlertsJS__button {
  background: #428bca;
  border: #357ebd solid 0px;
  border-radius: 3px;
  color: #fff;
  display: inline-block;
  font-size: 14px;
  padding: 8px 15px;
  text-decoration: none;
  text-align: center;
  min-width: 60px;
  position: relative;
  transition: color .1s ease;
}
.AlertsJS__button:hover{
  background: #357ebd;
}

.AlertsJS__closeIcon {
  color: #aaaaaa;
  font-size: 20px;
  text-decoration: none;
  padding:10px;
  position: absolute;
  right: 7px;
  top: 0;
}
.AlertsJS__closeIcon:hover {
  color: #919191;
}

.AlertsJS__overlay {
  content: '\A';
  position: fixed;
  width: 100vw;
  height:100vh;
  top: 0;
  left: 0;
  background: rgba(0,0,0,0.5);
  z-index: -1;
  animation: fadeIn .7s 1;
  transition: all .7s linear;
}

.AlertsJS__alert {
  background-color: white;
  box-shadow: 3px 3px 3px rgba(0,0,0,0.16);
  max-height: 100vh;
  width: 30vw;
  position: absolute;
  border-radius: 20px;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  padding: 1rem;
  font-family: 'Montserrat';
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  transition: background-color 1000ms;
  transition-timing-function: cubic-bezier(0.5, 2, 0.5, 2);

}


.AlertsJS__alert:hover {
  background-color: black;
  color: white;  
}

.AlertsJS__effects {
  background:#fff;
  width:80px;
  height:80px;
  position:absolute;
  display:block;
  right:207px;
  bottom:272px;
  border-radius:100px; 
  background:-moz-radial-gradient(center 45deg, circle closest-corner, rgba(75,190,200,0), rgba(75,190,200,.1), rgba(75,190,200,.3), rgba(255,255,255,.7));
  background:-webkit-gradient(radial, center center, 0, center center, 100, from(rgba(75,190,200,.2)), to(rgba(255,255,255,.7)));
  background:gradient(center 45deg, circle closest-corner, rgba(75,190,200,0), rgba(75,190,200,.1), rgba(75,190,200,.3), rgba(255,255,255,.7));
  background: -ms-radial-gradient(center, ellipse cover, rgba(255,255,255,0) 0%, rgba(9,133,167,0.1) 51%, rgba(9,133,167,0.3) 71%, rgba(9,133,167,.7) 100%);
  animation:bubbleUp 2s infinite ease-in-out;
  -webkit-animation:bubbleUp 2s infinite ease-in-out;
  -o-animation:bubbleUp 2s infinite ease-in-out;
  -moz-animation:bubbleUp 2s infinite ease-in-out;
}

.AlertsJS__alert {
  font-size: 1rem;
}

.AlertsJS__alert img {
  max-height: 10vh;
}

.AlertsJS__link {
  text-decoration: none;
  color: #428bca;
  padding-bottom: 10px;
}

.AlertsJS__customHTML {
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
}
.AlertsJS__input {
  width:200px;
  padding:8px;
  border:1px solid #ddd;
  color:#888;
  outline:0;
  font-size:14px;
  font-weight:bold;
  margin-bottom: 10px;
}
